<div class="row" style="margin: 10px;">
  <div class="col-md-8">

  <h1>Games</h1>

<% if @games.size > 0 %>

    <ul class="list-group">

      <% @games.each do |game| %>
          <li class="list-group-item">
            <h4 class="list-group-item-heading"><%= link_to game.name, game_path(game.friendly_id) %></h4>
            <span style="color:grey"><%= game.description %></span>
          </li>
      <% end %>

    </ul>

    <%= will_paginate @locations, renderer: BootstrapPagination::Rails %>

<% else %>

    <p>No games available.</p>

<% end %>

</div>

  <div class="col-md-4">
    <%= render :partial => 'shared/book'  %>
  </div>


    </div>