<div class="row" style="margin: 10px;">

  <div class="col-md-12">

    <h1>Suggest a Location</h1>

    <% if @location.errors.any? %>
        <div>
          <h2><%= pluralize(@location.errors.count, 'error') %> prohibited this location from being submitted:</h2>

          <ul>
            <% @location.errors.messages.values.each do |message| %>
                <li><%= message[0] %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      Use the following form to contribute a location to ArcadeNomad (currently only tracking arcades in the United States). Save yourself a few keystrokes by
      clicking the below button, and we'll try to geolocate your current position.
    </p>

    <button id="add-status" class="btn btn-success">Identify Location</button>
    <p id="add-status-message"></p>

    <%= render :partial => 'form_location', :locals => { :form => @location } %>

  </div>

</div>