<div style="float: left; margin-bottom: 25px;">
<b>Download ArcadeNomad's Source Code</b><br />
<%= image_tag 'book-large-web.png', id: 'book' %>
Did you know <i>all</i> of ArcadeNomad's source code is available to readers of "<a href="http://easyactiverecord.com">Easy Active Record for Rails Developers</a>"? That's right, you can
  purchase and download <emphasis>all</emphasis> of the source code used to power ArcadeNomad.com in just seconds!
</div>
