<div data-role="footer" data-position="fixed" id="footer">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Home', root_url(), :data => { :icon => 'home'} %></li>
      <li><%= link_to 'Arcades', locations_path(), :data => { :icon => 'location'} %></li>
      <li><%= link_to 'Games', games_path(), :data => { :icon => 'plus'}  %></li>
      <li><%= link_to 'Nearby', "/locations/nearby", :data => { :icon => 'navigation'}  %></li>
    </ul>
  </div>
</div>
