<div class="row" style="margin: 10px;">
  <div class="col-md-8">

    <h1>Categories</h1>

    <% if @categories.length > 0 %>

      <ul class="list-group">

        <% @categories.each do |category| %>
          <li class="list-group-item">
            <h4 class="list-group-item-heading"><%= link_to category.name, category_path(category.friendly_id) %></h4>
            <span style="color:grey"><%= category.locations.count %> locations</span>
          </li>
        <% end %>

      </ul>

    <% else %>
        <p>No categories available.</p>
    <% end %>

  </div>

  <div class="col-md-4">

    <%= render :partial => 'shared/book'  %>

  </div>

</div>