<%= form_for [:admin, @category], :url => admin_category_path(@category.id), :html => {'role' => 'form'} do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :placeholder => 'Must be unique. e.g. Bowling Alley', :class => 'form-control' %>
    </div>

    <div class="form-group">
      <button type="submit" class="btn">Submit</button>
    </div>

<% end %>



