<div class="row" style="margin: 10px;">
  <div class="col-md-12">

    <h1>Edit a Category</h1>

    <% if @category.errors.any? %>
        <div>
          <h2><%= pluralize(@category.errors.count, 'error') %> prohibited this category from being updated:</h2>

          <ul>
            <% @category.errors.messages.values.each do |message| %>
                <li><%= message[0] %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= render :partial => 'form_category', :locals => { :form => @category } %>

  </div>
</div>