<div class="row" style="margin: 10px;">
  <div class="col-md-12">

    <h1>Categories</h1>

    <p>
      Tracking <%= Category.count %> categories.
    </p>

    <% if @categories.length > 0 %>

        <table class="table table-striped">

          <% @categories.each do |category| %>
              <tr>
                <td>
                  <h4 class="list-group-item-heading"><%= link_to category.name, edit_admin_category_path(category.id) %></h4>
                </td>
              </tr>
          <% end %>

        </table>

    <% else %>
        <p>No categories available.</p>
    <% end %>

  </div>
</div>