<div class="row" style="margin: 10px;">
  <div class="span-12 text-center">

<h1>Thank You</h1>

<p>

  Thank you for contacting us! We'll be in touch right after finishing this game of Asteroids...

</p>

      </div>
    </div>