<div class="row" style="margin: 10px;">
  <div class="span-12">

<h1>About ArcadeNomad</h1>

<p>
  Growing up as a child of the 80's, I spent <i>a lot</i> of time playing arcade games. Whether at the mall, grocery store, or local truck stop,
  I was always begging my mother for a few quarters to pass the time. In the early days I recall playing Ms. Pac-man and Tron, while in the
  late 80's Rampage, Shinobi, Legend of Kage, and Double Dragon become familiar favorites.
</p>

<p>
  Over time the arcades slowly disappeared, and while consoles such as the Wii and PlayStation are undoubtedly a lot of fun, there's nothing quite
  like dropping a quarter into a classic cabinet. I created ArcadeNomad to help fellow retro gamers find their favorite games from the 80's, whether they are found in
  a Dave & Buster's restaurant or a dilapidated laundromat around the corner.
</p>

<h2>Download the Code</h2>

<p>
  Do you have an idea for a location-based directory but don't know where to begin? My book, "<a href="http://easyactiverecord.com">Easy Active Record for Rails Developers</a>",
  offers a comprehensive guide to building database-driven web applications such as ArcadeNomad using the powerful <a href="http://www.rubyonrails.org">Ruby on Rails</a> framework.
  Anybody who purchases the book is given a copy of <b>the latest ArcadeNomad.com code</b>!! You'll receive every single line of code used to run ArcadeNomad, in addition to
  detailed instructions explaining how to install the code on your laptop in order to learn how the pieces fit together.
</p>

<p>
  Keep in mind I would consider "<a href="http://easyactiverecord.com">Easy Active Record for Rails Developers</a>" to be an intermediate-level Rails book, meaning you
  should already have a general understanding of the Rails framework. If you're totally new to Rails, check out
  Michael Hartl's <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>. Otherwise, if you'd like to obtain a deep understanding of Rails' powerful
  Active Record ORM, this is the book for you! Check out the "<a href="http://easyactiverecord.com">Easy Active Record for Rails Developers</a>" for more details.
</p>

<h2>ArcadeNomad Statistics</h2>

ArcadeNomad currently tracks <%= link_to Location.count, locations_path %> arcades (the term "arcades" is loosely defined to mean any location hosting at least
one classic arcade game), and <%= Game.count %> arcade games. If you know the whereabouts of a classic arcade game that's not found in the ArcadeNomad
database, please create an account and <a href="">add the location</a> to the database!

</p>

      </div>
    </div>